html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.skin-blue .main-header .logo {
    background: none !important;
    border-bottom: 0 solid transparent;
    color: #fff;
}

.btnCR-top{
    margin-top: 24px;
}

.selection_green{
    background-color: #98FB98 !important;
}
.selection_primary{
    background-color: #99CCFF !important;
}
.selection_danger{
    background-color: #FFA07A !important;
}

/* modificado de Admintle.css */
.sidebar-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0 0 15px !important;
}

#ahijadosOptions{
    display: none;
}
.range_calendar{
    display: none;
}

/*Semaforo class*/
.semaforo-status{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #eee;
  margin: 0 auto;
}
