 .calendario>tbody>tr>td, .calendario>tbody>tr>th, .calendario>tfoot>tr>td, .calendario>tfoot>tr>th, .calendario>thead>tr>td, .calendario>thead>tr>th {
    padding: 5px;
    font-size: 10px;
   }
   .calendario>thead>tr>td, .calendario>thead>tr>th {
      text-transform: uppercase;
   }
   .calendario>tbody>tr>th.active{
      background: #019fc4;
      border-radius: 50%;
      color: #fff;
   }

   .mesyear{
      text-align: right;
      color: #019fc4;
      font-weight: bold;
   }
   .mes{
      position: relative;
      padding-right: 10px;
   }
   .year{
    padding-left: 6px;
   }
   .mes:before {
       display: block;
       position: absolute;
       top: 5px;
       right: 0;
       width: 5px;
       height: 5px;
       content: '';
    
       background: #019fc4;

       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;
   }
.calendario > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none !important;
}


.calendario > thead > tr > th, 
.calendario > tbody > tr > th, 
.calendario > tfoot > tr > th, 
.calendario > thead > tr > td, 
.calendario > tbody > tr > td, 
.calendario > tfoot > tr > td {
    border-top: none !important;
}
