/*Index CSS**/
.icon-box {
    margin-top: 20px;
}
.icon-box .icon .icon-img{

     height: 120px;
    /* text-align: center; */
    line-height: 120px;
    position: relative;
    margin: 0 auto;
   	position: relative;
}
.icon-box .icon{
	height: 120px;

}

.icon-box .icon .icon-noti{
    position: absolute;
    background: url('../img/iconPC/notificacion.png');
    height: 30px;
    width: 30px;
    line-height: 31px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: helvetica;
    padding-left: 9px;
}
.icon-box .icon .icon-noti-active{
    background: url('../img/iconPC/notificacion_.png')!important;
}

.icon-box .icon-text a{
    text-decoration: none;
    text-align: center;
    /* display: block; */
    border-radius: 15px;
    border: 1px solid #009fc3;
    padding: 3px 5px 3px 15px;
    color: #58585a;
}
.icon-box .icon-text{
    text-align: center;
    margin-top: 5px;
}
.icon-box .icon-text .icon-title{
    font-weight: bolder;
    font-size: 16px;
    color: #58585a;
}

.notify-wrap{
    margin-bottom: 40px;
}
.box-newgreen{
    background-color:#edf3d7 !important;
    border-top: none !important;
    box-shadow: none !important;
}
.box-neworange{
    background-color: #fdf1d2 !important;
}

.box-header .box-title{
    color: #58585a;
}

.alltablas .table  tr  td{
    border-top: none !important;

}

.alltablas {
    padding-right: 15px;
    padding-left: 15px;
}
.alltablas .table  tr  {
    border-top: 1px dotted #aac22c;
}
.alltablas .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none !important;
}
.bg-newgreen{
    background-color: #aac22c;
    border-radius: 3px;
}

