
/*---------
Scroll Bar(Solo Google chrome)
-------------------------------*/
/*

.info-content .wrap-faq::-webkit-scrollbar{
  width: 14px;
  background: url('../img/site/fondoScroll.jpg') center 0 repeat-y;
  border-radius: 14px;

}

.info-content .wrap-faq::-webkit-scrollbar-track{
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.info-content .wrap-faq::-webkit-scrollbar-thumb{
  
  border-radius: 10px;
  background-clip: content-box;
  background: url('../img/site/scrollthumb.png') center center no-repeat;
}

::-webkit-scrollbar-thumb:vertical{
height: 30px;

}

*/

.navbar-nav {
    background: transparent;
}
.navbar-nav >li{
	background:  #d0d0d0;
}
.info-content{
	padding-left: 10%;
	padding-right: 7%;
	padding-top:30px;
	display: block;
	
	min-height: 60%;

}

.info-content2{
	padding-left: 10%;
	padding-right: 7%;
	padding-top:30px;
	display: block;
}
.wrap-faq {
	margin-bottom: 50px;
}
.wrap-faq h4{
	color: #0da0c2;
	font-weight: normal;
	font-size: 22px;
	cursor: pointer;
}
.wrap-faq h4 span{
	margin-left: 5px;
	font-size: 12px;
	font-weight: normal;

}
.wrap-faq h4 img{
	vertical-align: text-top;
}
.titulo-seccion img{
	vertical-align: text-bottom;
}
.wrap-faq h4 img{
	margin-right: 5px;
}

.info-content .wrap-faq{
	display: block;
    margin-top: 20px;
}


.item-text{
	color: #6e6f73;
	margin-bottom: 20px;
	font-size: 16px;
	padding-left: 8%;
	padding-right: 4%;
	display: none;
}
.item-text h5{
	margin-top: 15px;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 16px;
}

.titulo-seccion{
  color: #0da0c2;
  font-weight: 300;
}
.site-content .wrap-site-content{
    padding-right: 20%;
    padding-left: 8%;
    font-size: 18px;
    font-family: 'Lato';
    color: #6e6f73;
    margin-top: 30px;
}
.site-index-icon .icon{
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all .3s ease-in-out;
}
.site-index-icon .icon:hover{
	transform:scale(1.1);
}
.site-content .wrap-site-calendario{
	 margin-top: 30px;
	 min-height: 500px;
	 margin-bottom: 120px;
}
.site-index-icon .icon .imagen{
	height:106px; 
	text-align: center;
	line-height: 106px;
}

.site-index-icon .icon .text{
	text-align: center;
	color: #58585a;
	text-decoration: none;
	font-size: 17px;
	margin-top: 10px;
}
.site-index-icon .icon img{
	vertical-align: bottom;
}


/*
** Barra simulador de progreo
*---------------------------------
*/


#simulation-bar {
  position: relative;
  width: 80%;
  margin:0 auto;
  margin-bottom: 40px;
  margin-top: 30px;
}
#simulation-bar .first-lvl {
  left: -12px;
}
#simulation-bar .last-lvl {
   right: -12px;
}

#simulation-bar .first-lvl, #simulation-bar .last-lvl {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  background: #f9b516;
  z-index: 1;
  top: -12px;
}

#simulation-bar .lvls{
	height: 40px;
	width: 10px;
	border-radius:5px;
	background: #33addc;
	position: absolute;
	top: -12px;
	z-index: 1;
}
#simulation-bar .lvl-2{
	left:20%;
}
#simulation-bar .lvl-3{
	left:40%;
}
#simulation-bar .lvl-4{
	left:60%;
}
#simulation-bar .lvl-5{
	left:80%;
}
#simulation-bar .base{
	 height: 18px;
	 background: #87868b;
}
#simulation-bar .base .ui-slider-handle{
	height: 24px !important;
	display: none;
} 
#simulation-bar .base .ui-slider-range{
	height: 16px;
}

#simulation-bar .base .ui-slider-range, #simulation-bar .base .ui-slider-handle, #simulation-bar .base .ui-state-active, 
#simulation-bar .base .ui-state-focus,#simulation-bar .base .ui-state-hover{
	background: #abc138;
	border:1px solid #abc138 !important;
	background-image: none;


}
#simulation-img img{
	width: 100%;
	margin-bottom: 5px;

}

#simulation-name{
	margin-bottom: 20px;
	color: #38a3c3;
}
#simulation-percent-content{
	height: 60px;
	position: relative;
	width: 150px;
	border:3px solid #38a3c3;
	border-radius: 15px;
	background: #b9b8bd;
	line-height: 50px;
	margin: 0 auto;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding-right: 10px;
	margin-top: 20px;
}
#simulation-percent-content img{
	position: absolute;
	left: -32px;
	top:-25px;
}

/*----------------------
Sistema Grafico
----------------------*/
.sistema-grafico{
	margin-bottom: 60px;
	margin-top: 60px;
}
.sistema-item .sistema-text-item h3{
	color:#009fc3;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 5px;
}
.sistema-item .sistema-text-item h3 img{
vertical-align: bottom;
}
.sistema-item .sistema-text-item{
	color:#6d6e71;
}
.sistema-item{
    transition: all .2s ease-in-out; 
}
.sistema-item:hover{
    transform: scale(1.1);
}
.sistema-item .sistema-text-label{
	background: #fcb913;
	padding: 1px 15px;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 5px;
	display: inline-block;
	text-decoration: none;
	color: #6d6e71;
}
.sistema-arrow{
	margin-top: 10px;
	margin-bottom: 10px;
}
.sistema-strong{
	color:#009fc3;
	font-size: 16px;
	font-weight: bold;
}
.sistema-strong2{
	color:#009fc3;
	font-size: 20px;
	font-weight: bold;

}
.sistema-bluearrow{
	margin-top: 10px;
	max-height: 50px;
}
#circle-note1, #circle-note2, #circle-note3  {
	position: relative;
}
#circle-note1 .litle-circle{
	height: 20px;
	width: 20px;
	position:absolute;
	border-radius: 50%;
	border: 1px solid #009fc3;
	left: 0px;
	top:0px;
}

#circle-note1 .line-guide{
    position: absolute;
    height: 1px;
    width: 144px;
    border: 1px solid #009fc3;
    left: 9px;
    top: -32px;
    transform: rotate(150deg);

}

#circle-note1 .big-circle{
    position: absolute;
    left: 138px;
    top: -169px;
    border-radius: 50%;
    border: 1px solid #009fc3;
    height: 150px;
    width: 150px;
    transition: all .2s ease-in-out; 
    margin: none;

}

#circle-note1 .big-circle:hover{
    transform: rotate(360deg) scale(1.1) ;
    left: 146px;
}

#circle-note1 .big-circle span{
	display: block;
	margin-top: 30%;
}
.sistema-arrow img, .sistema-bluearrow img{
	position: relative;
	animation: mymove 1.5s infinite;

}
@keyframes mymove {
    0%   {top: 0px;}
    50%  {top: 10px;}
    100% {top:0px;} 
}

#circle-note2 .litle-circle-up{
	height: 20px;
	width: 20px;
	position:absolute;
	border-radius: 50%;
	border: 1px solid #009fc3;
	left: 59px;
    top: -50px;
}
#circle-note2 .litle-circle-down{
	height: 20px;
	width: 20px;
	position:absolute;
	border-radius: 50%;
	border: 1px solid #009fc3;
    left: 65px;
    top: 76px;

}
#circle-note2 .line-guide-up{
    position: absolute;
    height: 1px;
    width: 84px;
    border: 1px solid #009fc3;
    left: -18px;
    top: -15px;
    transform: rotate(150deg);
}
#circle-note2 .line-guide-down{
    position: absolute;
    height: 1px;
    width: 84px;
    border: 1px solid #009fc3;

	left: -16px;
    top: 67px;
    transform: rotate(200deg);
}


#circle-note2 .big-circle{
    position: absolute;
    top: -67px;
    left: -200px;
    border-radius: 50%;
    border: 1px solid #009fc3;
    height: 190px;
    width: 190px;
    transition: all .2s ease-in-out; 
    padding-top: 20px;
    background: #f8f8f8;
    z-index: 3;
    color: #6d6e71

}
#circle-note3 .big-circle{
    position: absolute;
    top: -333px;
    right: 20px;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    transition: all .2s ease-in-out; 
    padding-top: 30px;
    background: #9cdcec;
    z-index: 3;
    font-size: 17px;
    font-weight: bold;
    color: #6d6e71

}


#circle-note2 .big-circle:hover, #circle-note3 .big-circle:hover{
    transform: rotate(360deg) scale(1.1) ;
}

@media (max-width: 1200px){
	#circle-note2 .big-circle{
		left: 0px;
		transform: scale(0.9);
	}
	#circle-note2 .other-shape{
		display: none;
	}
}
@media (max-width: 600px){
	#circle-note2 .big-circle{
		position: initial;
		margin: 0 auto;
	}
	#circle-note3 .big-circle{
		position: initial;
		margin: 0 auto;
	}
}
@media (max-width: 700px){
	#circle-note1 .big-circle{
	    left: -110px;
	    top: -192px;
	    transform: scale(0.9);
	}
	#circle-note1 .litle-circle, #circle-note1 .line-guide{
		display: none;
	}
}
@media (max-width: 335px){
	#circle-note1 .big-circle{
		left: 18px;
    	top: -202px;
    	transform: scale(0.8);
	}
}
/*----------------------
END </-Sistema Grafico
----------------------*/



