/*REGISTRO*/


.table {
	margin-bottom: 0px !important;
}

.panel-body {
    padding: 0px !important;
}

.panel-newgreen .table > thead > tr > th, 
.panel-newgreen .table > tbody > tr > th, 
.panel-newgreen .table > tfoot > tr > th, 
.panel-newgreen .table > thead > tr > td, 
.panel-newgreen .table > tbody > tr > td, 
.panel-newgreen .table > tfoot > tr > td {
    border-top: 1px dotted #acc32b;
}

.panel-newgreen .table > thead > tr > td, 
.panel-newgreen .table > tbody > tr > td, 
.panel-newgreen .table > tfoot > tr > td {
border-left: 1px dotted #acc32b;
}

.panel-newblue .table > thead > tr > th, 
.panel-newblue .table > tbody > tr > th, 
.panel-newblue .table > tfoot > tr > th, 
.panel-newblue .table > thead > tr > td, 
.panel-newblue .table > tbody > tr > td, 
.panel-newblue .table > tfoot > tr > td {
    border-top: 1px dotted #009ec3;
}

.panel-newblue .table > thead > tr > td, 
.panel-newblue .table > tbody > tr > td, 
.panel-newblue .table > tfoot > tr > td {
border-left: 1px dotted #009ec3;
}

.panel-newyellow .table > thead > tr > th, 
.panel-newyellow .table > tbody > tr > th, 
.panel-newyellow .table > tfoot > tr > th, 
.panel-newyellow .table > thead > tr > td, 
.panel-newyellow .table > tbody > tr > td, 
.panel-newyellow .table > tfoot > tr > td {
    border-top: 1px dotted #fcb913;
}



.panel-newyellow  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px dotted #fcb913;
}

.panel-newblue  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px dotted #009ec3;
}

.panel-newgreen .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px dotted #acc32b;
}
body{
	color: #57585c;
}

.detallecredito #value th{
	font-weight: 400;
}

.registrocompleto{
	height: 100%;
}

.registrocompleto h1{
	color:#019fc4;
	font-family: 'Lato';
	font-weight: 300;
	margin-top: 15%;
}
.registrocompleto span{
	position: relative;
}
.registrocompleto span img{
	position: absolute;
	height: 50px;
    top: -48px;
    right: -113px;
}
/*--------------------
   Presentacion
---------------------*/
.presentacion-text-ini{
	color: #6e6f72;
	font-weight: 300;
}
.presentacion-title{
	color: #adc42b;
	text-align: center;
    margin: 40px 0 30px 0;
}
.presentacion-title img{
	vertical-align: text-bottom;
}
.presentacion-text-item{
	font-size: 24px;
	min-height: 130px;
    display: inline-block;
    vertical-align: bottom;

}

.presentacion-text-strong{
	color: #009fc3;
	font-weight: bold;
}
.presentacion-arrow{
	margin: 20px 0;
}
.presentacion-item-img img{
	vertical-align: text-bottom;
}

.presentacion-item{
	display: relative;
}

.presentacion-btn{
	margin: 40px 0;
}

.datospersonales-load, .datospersonales-form, .show-btn{
	display: none;
}
