#wizard-menu{
	margin-top: 60px;
}

#wizard-menu .step:before { left: 0; }
#wizard-menu .step:after  { right: 0; }
#wizard-menu .step:first-child:before { display: none; }
#wizard-menu .step:first-child + .step + .step + .step:after { display: none; }

#wizard-menu .step-header{
width: 60px;
height: 60px;
/*border: 1px solid #d9d9d9;*/
background-color: #57585c;
border-radius: 50%;
z-index: 1;
position: relative;
}

#wizard-menu .step-header img{
    height: 35px;
    margin-top: 8px;
    margin-left: 1px;
}
#wizard-menu .step-header .step-img{
    width: 50px;
    height: 50px;
    /* border: 1px solid #d9d9d9; */
    background-color: #f8f8f8;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 5px;
} 

#wizard-menu .step-title{
	color: #019fc4 !important;
}

#wizard-menu .step:before, #wizard-menu .step:after {
	position: absolute;
	background-color: #57585c;
	top: 18%;
	width: 50%;
	height: 5px;
	/*border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;*/
	content: '';
}

#wizard-menu .step-info{
	color: #a8a8a8;
}

/*	Current step  */
#wizard-menu .step.current-step .step-header,
#wizard-menu .step.current-step:after,
#wizard-menu .step.current-step:before {
	background-color: #fcb616; 
	border: none; 
}

/*	Success step  */
#wizard-menu .step.success-step .step-header,
#wizard-menu .step.success-step:after,
#wizard-menu .step.success-step:before { 
	background-color: #abc42b; 
	border: none; 
}
#wizard-menu .step.current-step .step-header i,
#wizard-menu .step.success-step .step-header i{
	color: #fff;
}


@media only screen and (max-width: 1199px) {
	#wizard-menu .step:before,
    #wizard-menu .step:after { display: none; }
    #wizard-menu .step-header {float: left;}
    #wizard-menu .step {
			text-align: left;
			margin-bottom: 10px;
		}
	#wizard-menu .step-title,
	#wizard-menu .step-info{
		text-align: left !important;
		padding-left: 70px;
	}
}
